body {
    text-align: center;
    height: 100%;
    background-color: rgb(21, 21, 21);
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 64px;
    padding-bottom: 20px;
}

h3 {
    color: white;
    font-family: 'Bebas Neue';
}

nav {
    display:flex;
    justify-content: space-evenly;
    margin: 10px; 
    font-family: 'Bebas Neue';
    color: #fff;
    font-size: 20px;
    border-top: #810101ed solid;
    border-radius: 200px;
    padding: 20px;
}

#movie-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .45rem;
}

li {
    display: inline;
}

img {
    height: 350px;
    width: 250px;
    border-radius: 15px;
    border: solid 3px white;
    margin: 10px;
    overflow: hidden;
}

footer {
    color: #810101ed;
    font-family: 'Bebas Neue';
    padding-top: 1px solid #810101ed;
    margin: 0 auto;
    width: fit-content;
    margin-top: 5rem;
    padding-top: 5rem;
    border-top-style: solid;
    font-size: 20px;
}


#searchbar{
    padding:15px;
    border-radius: 10px;
  }

input[type=search] {
     width: 30%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
     border: solid 3px #810101ed;
  }

  /* focus on search bar */
  input[type=search]:focus {
    width: 70%;
  }

li{
  display: list-item;    
 } 